// =============================================================================
// BREAKPOINTS 
// =============================================================================
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );

$bp: (
  'mob': 10px,
  'xs': 768px,
  'lg': 1100px,
);

// =============================================================================
// CONTAINER 
// =============================================================================

$container-mw: 1240px;

$container-padding: (
  'mob': 20px,
  'xs': 60px,
  'lg': 80px,
);

$trs: .2s ease-in-out;
